HELP.md

# ENV FILES
.env
.env.local
.env.*.local

# MAVEN / JAVA
target/
!**/src/main/**/target/
!**/src/test/**/target/

# MAVEN WRAPPER
.mvn/wrapper/maven-wrapper.jar

# SPRING TOOL SUITE
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# INTELLIJ
.idea
*.iws
*.iml
*.ipr

# NETBEANS
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VSCODE
.vscode/

# NODE
node_modules/
dist/

# LOGS
*.log

# OS FILES
.DS_Store
Thumbs.db


.env
.env.*
!.env.example

docker-compose.prod.yml